<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span itemprop="name">{{ site.title }}</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav text-center">
        <li><a href="/categories">Categories</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="https://www.zemna.net">Projects <i class="fa fa-external-link" style="margin-left: 8px;"></i></a></li>
        <li><a href="https://resume.zemna.net">Resume <i class="fa fa-external-link" style="margin-left: 8px;"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right text-center">
        <li><a href="https://github.com/zemna"><i class="fa fa-lg fa-github"></i> <span class="visible-xs-inline">GitHub</span></a></li>
        <li><a href="https://www.facebook.com/zemnanet"><i class="fa fa-lg fa-facebook"></i> <span class="visible-xs-inline">Facebook</span></a></li>
        <li><a href="https://www.twitter.com/zemna"><i class="fa fa-lg fa-twitter"></i> <span class="visible-xs-inline">Twitter</span></a></li>
        <li><a href="https://plus.google.com/+ShinjaeKang"><i class="fa fa-lg fa-google-plus"></i> <span class="visible-xs-inline">Google+</span></a></li>
        <li><a href="https://id.linkedin.com/in/zemna"><i class="fa fa-lg fa-linkedin"></i> <span class="visible-xs-inline">LinkedIn</span></a></li>
        <li><a href="/feed.xml"><i class="fa fa-lg fa-feed"></i> <span class="visible-xs-inline">Feed</span></a></li>
      </ul>
    </div>
  </div>
</nav>