<form action="{{site.baseurl}}/search" method="GET" class="m-b">
  <div class="input-group">
    <input class="form-control input-sm" type="text" id="q" name="q" placeholder="Search...">
    <span class="input-group-btn">
      <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>

<section class="text-center m-b">
  <!-- blog.zemna.net-sidebar -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:250px;height:250px"
       data-ad-client="ca-pub-9370920245187676"
       data-ad-slot="4747459618"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>

<section class="panel panel-default" id="categories">
  <div class="panel-heading">
    <h1 class="panel-title">CATEGORIES</h1>
  </div>
  <div class="list-group">
    {% for category in site.categories %}
      {% capture category_slug %}{{ category | first }}{% endcapture %}
      <a href="/categories#{{ category_slug }}" class="list-group-item">
        <span class="badge">{{ site.categories[category_slug].size }}</span>
        {% assign category_name = site.data.categories[category_slug].name %}
        {{ category_name }}
      </a>
    {% endfor %}
  </div>
</section>

<section class="panel panel-default" id="tags">
  <div class="panel-heading">
    <h1 class="panel-title">TAG CLOUD</h1>
  </div>

  <div class="panel-body tags">
    <div class="tags">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    <span style="font-size: {{ tag | last | size  |  times: 4 | plus: 90  }}%">
      <a href="/tags#{{ tag | first | slugize }}">
        {{ tag | first }}
      </a>
    </span>
    {% endfor %}
    </div>
  </div>
</section>

<div class="m-b">
  <!-- Facebook Page -->
  <div class="fb-page" data-href="https://www.facebook.com/ZemnaBlog" data-tabs="timeline,events,messages" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ZemnaBlog" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ZemnaBlog">Zemna Blog</a></blockquote></div>
</div>

<section class="panel panel-default panel-posts" id="recent-posts">
  <div class="panel-heading">
    <h1 class="panel-title">RECENT POSTS</h1>
  </div>
  <div class="panel-body post-list">
    {% for post in site.posts limit:3 %}
    <div class="media">
      <div class="media-left">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img class="media-object" src="{% if post.image %}{{ site.url }}/{{ post.image }}{% else %}{{ site.url }}/assets/img/zemna-logo.png{% endif %}" alt="Post image">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <i class="fa fa-calendar"></i> {{ post.date | date: "%Y-%m-%d" }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="panel panel-default" id="recent-comments">
  <div class="panel-heading">
    <h1 class="panel-title">LATEST COMMENTS</h1>
  </div>

  <div class="panel-body dsq-widget">
    <script type="text/javascript" src="//zemnanetblog.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32&excerpt_length=100"></script>
  </div>
</section>

<!-- blog.zemna.net, sidebar, responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9370920245187676"
     data-ad-slot="9024649610"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>