@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import "../vendor/bootswatch/cosmo/variables";
@import "variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/bootswatch/cosmo/bootswatch";
@import "../vendor/font-awesome/scss/font-awesome";
@import "syntax";

body {
    background-color: #f7f7f7;
}

footer {
    margin-top: 0;
    border-top: 1px solid #ddd;
    .container {
        padding-top: 20px;
        .social-links {
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
        }
    }
    img {
        display: inline-block;
        position: relative;
        margin-left: 5px;
        opacity: .8;
        margin-bottom: 0;
    }
}

.m-b {
    margin-bottom: 20px;
}

.n-m-b {
    margin-bottom: 0;
}

.box-tags {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    .tag {
        padding: 6px 12px;
        margin-right: 4px;
    }
}