@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import "../vendor/bootswatch/cosmo/variables";
@import "variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/bootswatch/cosmo/bootswatch";
@import "../vendor/font-awesome/scss/font-awesome";
@import "syntax";

body {
    background-color: #f7f7f7;
}

footer {
    margin-top: 0;
    border-top: 1px solid #ddd;
    .container {
        padding-top: 20px;
        .social-links {
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
        }
    }
    img {
        display: inline-block;
        position: relative;
        margin-left: 5px;
        opacity: .8;
        margin-bottom: 0;
    }
}

.m-b {
    margin-bottom: 20px;
}

.n-m-b {
    margin-bottom: 0;
}

.box-tags {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    .tag {
        padding: 6px 12px;
        margin-right: 4px;
    }
}

#app {
    a {
        text-decoration: none;
    }
    .box {
        margin: 0 0 30px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #eee;
        .box-meta {
            color: #888;
            margin-bottom: 20px;
            span {
                margin-right: 20px;
            }
            .fa {
                margin-right: 5px;
            }
            a {
                color: #888;
            }
            a:hover {
                color: #666;
            }
        }
        .box-social {
            margin-top: 20px;
            margin-bottom: 30px;
            border-top: 1px solid #e4e4e4;
            padding-top: 20px;
            text-align: center;
            h3 {
                margin: 0 0 1em;
                line-height: 1.2;
                font-weight: 700;
                font-size: 14px;
            }
        }
    }
    .tags {
        ul {
            padding-left: 0;
            list-style: none;
        }
        .tags-cloud {
            li {
                display: inline-block;
            }
            a {
                background: #ddd;
                padding: 5px 7px;
                color: #999;
                margin-right: 5px;
                .badge {
                    margin-right: 7px;
                }
            }
        }
    }
    #sidebar {
        .widget {
            background-color: #fff;
            margin-bottom: 20px;
            border: 1px solid #eee;
            .widget-heading {
                padding: 10px;
                border-bottom: 1px solid #eee;
                h4 {
                    margin: 0;
                    padding: 0;
                }
            }
            .widget-body {
                padding: 10px;
            }
            .widget-list {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
        .box {
            padding: 0;
        }
        .panel-body {
            ul {
                list-style: none;
                margin-left: 0;
                padding-left: 0;
            }
            h4 {
                small {
                    margin-bottom: 16px;
                }
                a {
                    display: block;
                }
            }
        }
        .dsq-widget {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    #back-to-top {
        z-index: 999;
        position: fixed;
        bottom: 16px;
        right: 16px;
        padding: 10px;
        background-color: rgba(0, 191, 243, .8);
    }
}

// Set vertical-align for facebook button
.fb_iframe_widget span {
  vertical-align: baseline !important;
}
