---
layout: default
---
<div class="container">
  <div class="row">
    <section id="main" class="col-md-9">
      <article class="box">
        <div class="box-header">
          <h2>
            <span class="title">{{ page.title }}</span>
            <span class="action dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                <i class="fa fa-share-alt"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&title={{ page.title | encode }}" id="sns-facebook">Facebook</a></li>
                <li><a href="http://twitter.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&title={{ page.title | encode }}&text={{ page.title | encode }}" id="sns-twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" id="sns-google">Google+</a></li>
              </ul>
            </span>
          </h2>
        </div>

        <div class="box-body">
          {{ content }}
        </div>
      </article>

      {% include post-comments.html %}
    </section>

    <aside id="sidebar" class="col-md-3">
      {% include site-sidebar.html %}
    </aside>
  </div>
</div>
