---
layout: default
---
<div class="container">
  <div class="row">
    <section id="main" class="col-md-9">
      <article class="box">
        <div class="box-header">
          <h2>
            <span class="title">{{ page.title }}</span>
          </h2>

          <p class="box-meta">
            <span>
              <i class="fa fa-calendar"></i>
              {{ page.date | date: "%Y-%m-%d" }}
            </span>
            <span>
              <i class="fa fa-folder"></i>
              {% for category in page.categories %}
                <a href="/categories#{{ category | slugize }}">
                 {{ site.data.categories[category].name }}
                </a>
                {% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </span>
            <span>
              <i class="fa fa-comments"></i>
              <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread" title="comments">0</a>
            </span>
          </p>
          <ul class="list-inline m-b">
            <li style="vertical-align: top;">
              <div class="fb-like" data-href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            </li>
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="zemna">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
              <div class="g-plusone" data-size="medium" data-href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"></div>
            </li>
            <li>
              <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
              <script type="IN/Share" data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-counter="right"></script>
            </li>
          </ul>
        </div>

        <div class="m-b">
          <!-- blog.zemna.net, content-top, link, responsive -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-9370920245187676"
               data-ad-slot="5531728017"
               data-ad-format="link"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>

        <div class="box-body">
          {{ content }}
        </div>

        <!-- blog.zemna.net, content-bottom, link, responsive -->
        <ins class="adsbygoogle"
             style="display:block; margin-top: 20px;"
             data-ad-client="ca-pub-9370920245187676"
             data-ad-slot="6187216017"
             data-ad-format="link"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <!-- blog.zemna.net, content-bottom, responsive -->
        <ins class="adsbygoogle"
             style="display:block; margin-top: 20px;"
             data-ad-client="ca-pub-9370920245187676"
             data-ad-slot="4885814817"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <div class="box-social">
          <h3>Share this:</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&title={{ page.title | encode }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color: #3b5998;"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&title={{ page.title | encode }}&text={{ page.title | encode }}" id="sns-twitter">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color: #0084b4;"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" id="sns-google">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color: #d34836;"></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color: #007bb5;"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://pinterest.com/pin/create/button/?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color: #cb2027;"></i>
                  <i class="fa fa-pinterest-p fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="mailto:?&subject={{ page.title | encode }}&body={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color: #45668e;"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="box-tags">
          <span><i class="fa fa-tags"></i> Tags:</span>
          {% for tag in page.tags %}
            <a href="/tags#{{ tag | slugize }}" class="label label-default tag">
              {{ tag }}
            </a>
          {% endfor %}
        </div>
      </article>

      <nav id="pagination">
        <ul class="pager">
          {% if page.previous %}
          <li class="previous">
            <a href="{{ page.previous.url | prepend: site.baseurl }}">
              <span aria-hidden="true">
                <i class="fa fa-chevron-left"></i>
              </span>
              <span class="pager-title-sm">Older</span>
              <span class="pager-title">
                {{ page.previous.title | truncate: 20, '...'}}
              </span>
            </a>
          </li>
          {% else %}
          <li class="previous disabled">
            <a href="#">
              <span aria-hidden="true">
                <i class="fa fa-chevron-left"></i>
              </span>
              <span>Older</span>
            </a>
          </li>
          {% endif %}

          {% if page.next %}
          <li class="next">
            <a href="{{ page.next.url | prepend: site.baseurl }}">
              <span class="pager-title">
                {{ page.next.title | truncate: 20, '...'}}
              </span>
              <span class="pager-title-sm">Newer</span>
              <span aria-hidden="true">
                <i class="fa fa-chevron-right"></i>
              </span>
            </a>
          </li>
          {% else %}
          <li class="next disabled">
            <a href="#">
              <span>Newer</span>
              <span aria-hidden="true">
                <i class="fa fa-chevron-right"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>

      {% include post-comments.html %}
    </section>

    <aside id="sidebar" class="col-md-3">
      {% include site-sidebar.html %}
    </aside>
  </div>
</div>
